# fly.toml app configuration file generated for alljobs-mirror on 2026-02-09T19:49:19+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'alljobs-mirror'
primary_region = 'sin'

[build]

[env]
  JOBMIRROR_DB_PATH = '/data/jobs.db'
  NODE_ENV = 'production'

[[mounts]]
  source = 'data'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
